@import "tailwindcss";

@theme {
  --font-sans: var(--font-dm-sans);
  --font-heading: var(--font-lateef);
}

h1, h2{
  font-family: var(--font-lateef);
  font-weight: 400;
}

:root {
  --background: #000000;
  --foreground: #ffffff;
}

html, body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-dm-sans), sans-serif;
  margin: 0;
  padding: 0;
}
